.light  {
     background-color: #f3ebf6 ;
    color: rgb(237, 89, 10); 
     /* font-size: large; */
  }
  
.dark  {
    background-color: #171718;
    color: #f3ebf6;
    /* font-size: small; */
  }

  /* .app{
    background-color: brown; 
   }  */










